<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" class="icon-btn" (click)="closeModal(false)">
        <ion-icon name="close-outline" class="icon-size"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="text-center">
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="favourites?.length; else noData">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let fav of favourites" class="cards-row">
          <ion-card class="fav-card-item">
            <ion-card-content>
              <img [src]="fav?.postId?.imagePath" alt="" srcset="" (click)="clickImage(fav?.postId?.imagePath)">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #noData>

    <div class="container">
      <p>Oops! No Favourites Found</p>
    </div>
  </ng-template>
</ion-content>

<ion-footer>

</ion-footer>