<ion-header [translucent]="true">
  <ion-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
    <ion-title>
      M'Feeds
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addFeed()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="getListOfFeeds($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="(feedsList$ | async)">
    <div class="text-center">
      <ion-button class="floating-btn" (click)="getListOfFeeds()">
        <ion-icon slot="start" name="refresh-outline"></ion-icon>
        New feeds available , Refresh
      </ion-button>
    </div>
  </ng-container>

  <ng-container *ngIf="feedsList?.length; then hadData; else noData">
  </ng-container>

  <ng-template #hadData>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let n of feedsList;let even = even; let odd = odd">

          <ion-card class="feed-card">
            <ion-card-header class="feed-card-header">
              <div fxLayout="row" fxLayoutAlign="start center">
                <img [src]="n?.userId?.imagePath?  n?.userId?.imagePath : '/assets/icon/user-avator-2.png'"
                  alt="user-avator" class="user-icon">
                <div class="user-info">
                  <ion-card-title class="feed-card-title">{{n?.userId?.username}}</ion-card-title>
                  <p class="feed-date">{{n?.createdDate| date :'MMM d, y, h:mm a'}}</p>
                </div>

              </div>
            </ion-card-header>

            <ion-thumbnail class="feed-thumbnail">
              <ion-img [src]="n?.imagePath" class="feed-card-image"></ion-img>
            </ion-thumbnail>

            <div class="feed-content-div">
              <p>{{n?.content}}</p>
            </div>

            <ion-card-content class="feed-card-content" fxLayout="row" fxLayoutAlign="center center">

              <div class="view-details three-divs" fxLayout="row" fxLayoutAlign="center center">
                <ion-icon [name]="checkFavourites(n)? 'heart' :'heart-outline'"
                  [color]="checkFavourites(n)? 'danger' :''" class="icon_with_right_margin icons-view"
                  (click)="checkFavourites(n)? removeFavourites(n): addFavourites(n)">
                </ion-icon>
              </div>

              <div class="like-div three-divs" fxLayout="row" fxLayoutAlign="center center">
                <ion-icon name="thumbs-up-outline" class="icon_with_right_margin icons-view" *ngIf="n?.canLike"
                  (click)="likePost(n)">
                </ion-icon>
                <ion-icon name="thumbs-up" class="icon_with_right_margin icons-view" color="primary" *ngIf="!n?.canLike"
                  (click)="unlikePost(n)">
                </ion-icon>
                <ion-badge color="light">{{n?.likes?.length}}</ion-badge>
              </div>

              <div class="comment-div three-divs" fxLayout="row" fxLayoutAlign="center center"
                (click)="openCommentDialog(n)">
                <img src="../../../assets/icon/comment.png" alt="" class="icons-view">
                <ion-badge color="light">{{n?.comments?.length}}</ion-badge>
              </div>

              <!-- <div class="view-details three-divs" fxLayout="row" fxLayoutAlign="center center">
                <ion-icon name="download-outline" class="icon_with_right_margin icons-view" (click)="downloadFeed(n)">
                </ion-icon>
              </div> -->
            </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ng-template #noData>
    <div class="no-data-div">
      <h2 class="text-center f-22">No Feeds Found</h2>
      <p class="text-center f-14">Looks like you haven't added any feeds </p>
    </div>
  </ng-template>

</ion-content>