.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .header-text {
        text-align: center;
    }

    .form-wrapper {
        padding: 10px;

        .title {
            h2 {
                text-align: center;
            }
        }

        .fp-link {
            font-size: 13px;
        }
    }

    .footer {
        p {
            text-align: center;
            margin: 15px;
        }
    }
}